.page-wrapper {
  margin-left: 270px;
  transition: 0.2s ease-in;
}

@media screen and (max-width: 1279px) {
  .page-wrapper {
    margin-left: 0;
  }
}

body {
  background-color: #f8f9fa; /* Light neutral background complementing VA colors */
}
